.header-bg{
    background-color: #81f;
}
.nav-component{
    font-size: 18px;
    margin: 0 8px 0 8px;
}
.categories{
    border: black 1px solid;
    margin-bottom: 25px;
    box-shadow: 0 0 3px 1px ;
}
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -11px; /* 50% высоты */
    margin-left: -63px;  /* 50% ширины */
    height: 50px;
    width: 250px;

}
* html .centered {
    position: absolute;
}
.item{
    border: black 1px solid;
    margin-bottom: 25px;
    box-shadow: 0 0 3px 1px black;
}
.pad{
    padding-top: 5px;
}